*, 
*::after,
*::before{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

html{
    font-size:62.5%;
    line-height:1.6;
}

body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, sans-serif;
    font-stretch: condensed;
    font-weight:400;
}

section{
    margin:5rem auto;
}

#root{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.row{
    max-width:114rem;
    margin-left:auto;
    margin-right: auto;
}

.btn-special{
    display: inline-block;
    background-color: #d80032;
    color: #fff;
    text-decoration: none;
    font-size:1.6rem;
    transition: all .2s;
    padding:.5rem 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    border-radius: 5px;

}
.btn-special:hover,
.btn-special:active{
    transform: scale(1.05);
}